<%- include('../partials/header') %>

<main>
  <article>
    <h1><%= post.title %></h1>
    <div><%= post.content %></div>
    <a href="/blog">← Back to all posts</a>
  </article>
</main>

<%- include('../partials/footer') %>